<footer class="{{ .Site.Params.background_color_class | default "bg-black" }} bottom-0 w-100 pa3" role="contentinfo">
  <div class="flex justify-between">
  <a class="f4 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" href="{{ .Site.Home.Permalink }}" >
    &copy; {{ with .Site.Copyright | default .Site.Title }} {{ . | safeHTML }} {{ now.Format "2006"}} {{ end }}
  </a>
  <footer>
    <p><a style="color:aliceblue" href="https://lj-leftcreations.my.canva.site/">Homepage</a></p>
    <p><a style="color:aliceblue" href="mailto:joeliuprimary@gmail.com">Email: joeliuprimary@gmail.com</a></p>
    <p><a style="color:aliceblue" href="/tags/">Tags</a></p>
    <p><a style="color:aliceblue" href="/categories/">Categories</a></p>
    <p><a style="color:aliceblue" href="/purchases-consumer-rights/">Buyer's Rights</a></p>
    <script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="4c58a2f9-edf4-4a51-a06a-5047a75dc664";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
  </footer>
    <div>{{ partial "social-follow.html" . }}</div>
  </div>
  <link rel="stylesheet" href="/css/webshop.css">
<script type="text/javascript" src="/js/webshop.js"></script>
</footer>
