<p>I have: <span id="repoCount"></span> repos on my Github Account</p>
<ul id="repoList"></ul>

    <script>
        // Fetch data from GitHub API
        fetch('https://api.github.com/users/thatisdrtruman/repos')
        .then(response => response.json())
        .then(data => {
            const repoCountElement = document.getElementById('repoCount');
            const repoList = document.getElementById('repoList');
            repoCountElement.textContent = data.length; // Set the count of repositories

            data.forEach(repo => {
                const listItem = document.createElement('li');
                listItem.textContent = repo.name;
                repoList.appendChild(listItem);
            });
            })
            .catch(error => console.error('Error fetching data:', error));
    </script>
